{% extends 'base.html' %}
{% block content %}


<div class="container_fluid">
    <div class="row">
        <div class="col">
            {% for home in homes%}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{home.image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{home.name}}</h5>
                    <a href="#" class="btn btn-primary">Join a hood</a>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>

{% endblock %}