<header class="main-header">
    <a href="{% url 'homepage' %}" class="brand-logo">
        <h2 class="page-title" title="HomePage">TheHood</h2>
    </a>
    <nav class="main-nav">
        <ul>
            {% if user.is_authenticated %}
            <li class="nav-items"><a href="{% url 'post-create' %}" >
                {% load static %}
                <img src="{% static 'css/assets/add-svgrepo-com.svg' %}" title="Create Post">
            </a></li>
            <li class="nav-items"><a href="{% url 'user_profile' user.id %}" >
                {% load static %}
                <img src="{% static 'css/assets/user-profile-svgrepo-com.svg' %}" title="{{request.user}}">
            </a></li>
            <li class="nav-items"><a href="{% url 'logout' %}" >
                {% load static %}
                <img src="{% static 'css/assets/logout-svgrepo-com.svg' %}" title="Logout">
            </a></li>
            {% else %}
            <li class="nav-items"><a href="{% url 'login' %}" title="Login" >
                {% load static %}
                <img src="{% static 'css/assets/login-svgrepo-com.svg' %}" title="Login" alt="" srcset="">
            </a></li>
            {% endif %}
        </ul>
    </nav>
</header>