{% load bootstrap4 %}
{% load static%}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Post</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/style.scc.css' %}"> {% endblock %}
  <style>
    .col-centered {
      text-align: center;
    }
  </style>
</head>


<body style="background-color:#f1f1f1;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
        <div class="card"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); background-image: linear-gradient(rgb(141, 178, 178), rgb(235, 193, 200));">
  
  <form  action="{%url 'new-business'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% for field in form %}
        {% bootstrap_field field %}
    {% endfor %}
    <input type="submit" class="btn btn-info btn-lg" value="Post">
  </form>
  </div>
  </div>
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
  </div>
</body>

</html>