{%extends 'base.html'%}


{% block content %}
{{block.super}}

<div class="container">   
   
    <div class="media-left">
        <figure class="image is-128x128">
            <img class="is-rounded" src="{% if profile.profile_photo %}{{ profile.profile_photo.url }}{% else%} https://bulma.io/images/placeholders/128x128.png {% endif %}"style="border-radius: 50%; width:128px; height: 128px;float:left;" >
        </figure>
    </div>
    <div>
        <div>
          
        </div>
    </div>
    <div class="container" style="margin-left: 20px;">
     
      <h1>{{ user.name}}</h1>
      <h2 >@{{user.username}}</h2>
      <p >Bio:{{ user.bio }} </p>      
      <a  class="btn btn-success" href="{% url 'editprofile' %}">Edit Profile</a>   
     
    
    
    </div>
    

    
</div>
   
{% endblock %}