{% extends 'base.html' %}
{% block content %}
<style>
    .vl {
      border-left: 1px solid black;
      height: 500px;
    }
</style>
<div class="container mt-4" >
    <div class="row">
        <div class="col">
            
            <h5 class="card-title"><strong>Your Hood:</strong>{{homes.name}}</h5>
            <p><strong>About:</strong>{{homes.description}}</p>
            <a href="{% url 'new-post'%}" class="btn btn-info">Create post</a>
            <a href="{% url 'home'%}" class="btn btn-info">Change a hood</a>
            <a href="{% url 'new-business'%}" class="btn btn-info" style="margin-left: 800px;">Create business</a>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-8" style=" margin-top: 20px; display: flex;">
            {% for post in posts %}
            <div class="card  ml-1" style="width: 22rem; height: 280px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);" >
                <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" height="180px">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p>{{post.description}}</p>
                    
                </div>
            </div>
            {% endfor%}
        </div>
             
        <div class="col-md-3 vl" style=" margin-top: 20px; ">
            
            {% for business in businesses %}
            <div class="card" style="width: 18rem;height: 200px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                
                <div class="card-body">
                    <h5 class="card-title">{{business.category}}</h5>
                    <h5 class="card-title">{{business.bsn_name}}</h5>
                    <a href="{{business.weburl}}"><p>view business</p></a>
                    <p>Email:{{business.bsn_email}} Phone:{{business.phone }}</p>
                    
                </div>
            </div>
            {% endfor%}
            <div class="card mt-4" style="width: 18rem;height: 150px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                
                <div class="card-body">
                    <h6 class="card-title">Emergency contacts</h6>
                    <p>Police contact:{{homes.police}}</p> 
                    <p>Health contact:{{homes.health}}</p>   
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}