ul,li{
  list-style: none;
}

a{
  color: black;
}

a:hover{
  color: black;
  font-size: larger;
  text-decoration: none;
}

.section-a{
  border-right: solid 2px black;
}
/* Homepage styling */
.post-card{
  padding: 0.5em;
  margin: 0.5em;
  border: none;
}

.post-card-img{
  height: 50%;
}

.post-display{
  max-height: 40rem;
  overflow-y: scroll;
}

/* Navbar styling */
.main-nav ul{
    display: flex;
    margin-right:8vw;
    padding: 0;
    list-style: none;
  }
  
  .main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
  }
  
  .main-nav a:hover{
    font-size: larger;
  }
  
  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
    height: 60px;
    background-color: white;
    border-bottom: #DCDCDC solid 1px;
  }

  .brand-logo:hover{
    text-decoration: none;
    color: black;
  }
  
  .brand-logo:focus{
    text-decoration: none;
    color: black;
  }
  
  .brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    margin-left:8vw;
    text-decoration: none;
  }

  .brand-logo-name {
    margin-left: 1rem;
    font-size:3rem;
    text-decoration: none;
  }
  
  .brand-logo-name:hover{
    text-decoration: none !important;
  }
  
  .brand-logo-name:focus{
    text-decoration: none;
  }

  .nav-items{
    font-size: large;
    font-weight: bold;
    padding: 0 1vw;
  }

  .search-text{
      border-radius:2%;
      background-color:#FAF9F6;
  }

  /* Accounts pages - login and signin */
.accounts-page{
  margin-top: 6vh;
}
.ig-image-accounts{
  display: block;
  margin-left: auto;
}
.account-nav{
  margin-top: 2vh;
  padding: 2vw;
}
.separator::before,.separator::after {
  display: inline-block;
  content: "";
  width: 4rem;
  margin:-0.5rem 1rem;
  transform: translateY(-1rem);
  opacity: 0.5;
}
.accounts-submit{
  margin: 1rem;
  padding: .5rem;
  font-weight: bold;
}

  /* Login-page */
  .password-reset-pages{
      width: 70%;
      padding: 2vw;
      top: 20%;
      position: relative;
  }
  .login-section{

      width: 50%;
      margin-top: 2vh;
  }
  .login-form{
      width: 90%;
      margin: 2vh auto;
  }
  .accounts-username, .accounts-password, .accounts-email{
      background: transparent;
      border: 0 solid;
      border-radius: 1%;
      display: block;
      margin: 1rem;
      padding: .5rem;
      transition: 250ms ease-in;
      width: calc(100% - 3rem);
  }
